body,
html {
  height: 100%;
  margin: 0;
}

:root {
  --gjs-main-dark-color: #efefef;
}

#gjs {
  border: 3px solid #ccc;
  box-sizing: border-box;
}

/* Primary color for the background */
.gjs-one-bg {
  background-color: #fff;/* #78366a */
}

/* Secondary color for the text color */
.gjs-two-color {
  color: #333333;
  /* color: rgba(255, 255, 255, 0.7); */
}

/* Tertiary color for the background */
.gjs-three-bg {
  background-color: #f0f0f0;
  /* background-color: #ec5896; */
  color: white;
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
  color: #6396dd;/* #ec5896 */
}

/* パネルとサイドバー > パネル全体のスタイルに使用 */
.gjs-pn-panel{
   background-color: #efefef 
}

/* サイドバーの見出し部分の余白を調整 */
.gjs-category-title,
.gjs-layer-title,
.gjs-block-category,
.gjs-title, 
.gjs-sm-sector-title, 
.gjs-trait-category .gjs-title{
  padding:9px 10px;
}

/* Import MJML のボタン… */
.gjs-btn-prim{
  background-color: var(--gjs-main-dark-color);
}
/* 

メインエディタ領域
.gjs-editor: エディタ全体のコンテナ
.gjs-frame: エディタのフレーム部分
.gjs-cv-canvas: キャンバス領域
.gjs-no-select: 選択不可の領域
パネルとサイドバー
.gjs-pn-panel: パネル全体のスタイルに使用
.gjs-pn-views-container: パネル内のビューを囲むコンテナ
.gjs-pn-buttons: サイドパネル内のボタン
.gjs-pn-active: アクティブなパネルボタン
ブロック管理・コンポーネント管理
.gjs-block: 各ブロック要素
.gjs-block-label: ブロックのラベル
.gjs-block-content: ブロックのコンテンツ領域
.gjs-clm-name: コンポーネントの名前
.gjs-clm-label: ラベル付きのコンポーネント
.gjs-clm-value: コンポーネントの値部分
スタイルマネージャー
.gjs-sm-properties: スタイルマネージャのプロパティ部分
.gjs-sm-sector: スタイルのセクター部分
.gjs-sm-sector-title: セクターのタイトル部分
.gjs-sm-input-holder: スタイル入力欄
その他UI
.gjs-toolbar: ツールバー全体 ※各要素につくメニュー
.gjs-toolbar-item: ツールバーの各アイテム
.gjs-resizer: リサイズハンドル部分
.gjs-tooltip: ツールチップ
.gjs-frame-wrapper: キャンバスのフレームラッパー
.gjs-pn-options: 設定オプションパネル

*/

.cm-s-hopscotch.CodeMirror {
  background: #d5d3d5;
  color: #322931;
}