.wrapper {
  display: flex;
  align-items: center;
  padding: 4px;
  flex-wrap: wrap;
  gap: 4px;
}
.separator {
  width: 1px;
  height: 24px;
  background: #efefef;
}
.btn_wrapper {
  position: relative;
}
button {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 13px;
  line-height: 24px;
  cursor: pointer;
  transition: 0.25s;
  background-color: #fff;

  .label {
    font-size: 13px;
    line-height: 15px;
  }

  &.is-active {
    color: #2977ff;
    background-color: #cae1fc;
  }

  &.is-icon {
    width: 30px;
    > i {
      font-size: 16px;
    }
  }

  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.is-select {
    position: relative;
  }

  &.is-option {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
  }

  &.is-color {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown_icon {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
button:hover {
  background-color: #f0f0f0;
}
button:focus,
button:focus-visible {
  border: 1px solid #3779eb;
  box-shadow: 0 0 0 3px #cae1fc;
  outline: none;
}

.options {
  width: max-content;
  min-width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #ccced1;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);

  &.is-open {
    display: block;
  }
}
.color_options {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #ccced1;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
  z-index: 1;

  &.is-open {
    display: block;
  }

  .color_options-inner {
    min-width: 171px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    &.is-hide {
      display: none;
    }
  }
  .color_options-panels {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
  }
  .color_options-more {
    display: flex;
  }
}
