.wrapper {
  display: flex;
  align-items: center;
  padding: 4px;
  flex-wrap: wrap;
  gap: 4px;
}
.separator {
  width: 1px;
  height: 24px;
  background: #efefef;
}
.btn_wrapper {
  position: relative;
}
button {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 13px;
  line-height: 24px;
  cursor: pointer;
  transition: 0.25s;
  background-color: #fff;

  .label {
    font-size: 13px;
    line-height: 15px;
  }

  &.is-icon {
    width: 30px;
    > i {
      font-size: 16px;
    }
  }

  &.is-select {
    position: relative;
  }

  &.is-option {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
  }

  .dropdown_icon {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
button:hover {
  background-color: #f0f0f0;
}
button:focus,
button:focus-visible {
  outline: 1px auto #00f;
  border-width: 1px;
  border-color: #646cff;
}

.options {
  width: max-content;
  min-width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  &.is-show {
    display: block;
  }
}
